body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
  }

* {
    box-sizing: border-box;
}

.upper-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background-color: rgba(80, 140, 55);
  }

.upper-nav a {
    color: white;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    cursor: pointer;
}

.upper-nav select {
    height: 30px;
    width: 180px;
    color: rgba(55, 58, 60);
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.lower-nav {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.lower-nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lower-nav-logo img {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-right: 30px;
}

.lower-nav a {
    color: rgb(155, 155, 155);
    padding: 10px;
}

.lower-nav input {
    font-size: 16px;
    padding: 10px;
    height: 35px;
    width: 180px;
    border-radius: 4px;
    border: 1px solid rgba(155, 155, 155, 0.5)
}

.lower-nav button {
    background-color: rgb(80, 140, 55);
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 75px;
    cursor: pointer;
}

.container {
    position: relative;
    color: white;
    margin-top: 10px;
  }

.centered {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 300;
    text-align: center;
}

.centeredButton {
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 145px;
    background-color: rgb(80, 140, 55);
    color: white;
    border:rgb(80, 140, 55);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 28px;
    
}

.flex-container > div {
    width: 360px;
    padding: 15px;
}

.column {
    position: relative;
}

.column img {
    height: 220px;
    border-radius: 4px;
    filter: brightness(65%);
    cursor: pointer;
}

.column img:hover {
    filter: brightness(90%);
  }

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
  width: 230px;
  height: 80px;
  position: relative;
}

.icon i {
  color: rgb(80, 140,55);
  font-size: 44px;
  position: absolute;
  left: 0;
  top: 25%;
}

.numbers h1 {
    font-size: 38px;
    font-weight: 300;
    margin: 0;
    position: relative;
    left: 80px;
    top: 5px;
    animation: mymove 4s infinite;
}

@keyframes mymove {
    from {left: 50px;}
    to {left: 80px;}
  }

.numbers p {
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 81px;
    bottom: 5px;
}



.news {
    height: 300px;
    background-color: rgb(236,238,239);
    padding: 10px 10px;
    color: rgba(55, 58, 60);
}

.news h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
}

.news button {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    width: 360px;
    height: 170px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

.References {
    padding: 10px 10px;
    margin: 15px;
    color: rgba(55, 58, 60);
}

.References h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.flex-cards {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.card {
     height: 375px;
     width: 265px;
     border: solid 1px;
     border-color: rgb(201, 201, 201);
     border-radius: 4px;
     margin: 15px;
     position: relative;
     text-align: center; 
    
}

.card img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.card hr {
    margin-block-start: 185px;
    color: rgb(201, 201,201);
}

.card h2 {
    font-size: 18px;
    color: rgba(55, 58, 60);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card p {
    width: 230px;
    font-size: 14px;
    color: rgba(55, 58, 60);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: 'Lato', sans-serif;
}

.subscribe input {
    width: 420px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(148, 148, 148);
    border-color: rgb (140, 140,140);
    padding: 5px;
}

.subscribe button {
    background-color: rgb(80, 140, 55);
    color: white;
    border:rgb(80, 140, 55);
    border-radius: 5px;
    height: 50px;
    width: 125px;
    font-size: 18px;
    font-weight: 100;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

footer {
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 275px;
    width: 100%;
    margin-top: 25px;
    color: white;
     
}

.Line1 {
    overflow: hidden;
    height: 80px;
    vertical-align: bottom;
}

.Line1 p {
    font-size: 22px;
    float:left;
    position: absolute;
    left: 140px;
    margin: 1px 1px;
    top: 50px;
}

.Line1menu {
    position: absolute;
    float: right;
    right: 120px;
    top: 55px;
    padding: 5px;
    cursor: pointer;
}

.Line1menu a {
    padding: 5px;
}

.Line2 {
    display: flex;
    align-items: center;
    height: 200px;
}

.Line2 p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 210px;
    position: absolute;
    left: 140px;

}

footer button {
    position: absolute;
    left: 400px;
    background-color: rgb(80, 140, 55);
    color: white;
    border:rgb(80, 140, 55);
    border-radius: 5px;
    height: 40px;
    width: 110px;
    cursor: pointer;
}

.foot-icons {
    display: flex;
    position: absolute;
    right: 120px;
}

.foot-icons i {
    background-color: rgb(80, 140, 55);
    color: white;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 10px 5px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
