body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
  }

* {
    box-sizing: border-box;
}

.upper-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background-color: rgba(80, 140, 55);
  }

.upper-nav a {
    color: white;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    cursor: pointer;
}

.upper-nav select {
    height: 30px;
    width: 180px;
    color: rgba(55, 58, 60);
    border: none;
    border-radius: 3px;
    padding: 5px;
}

.lower-nav {
    min-height: 110px;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lower-nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lower-nav-logo img {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-right: 30px;
}

.lower-nav a {
    color: rgb(155, 155, 155);
    padding: 10px;
}

.lower-nav input {
    font-size: 16px;
    padding: 10px;
    height: 35px;
    width: 180px;
    border-radius: 4px;
    border: 1px solid rgba(155, 155, 155, 0.5)
}

.lower-nav button {
    background-color: rgb(80, 140, 55);
    color: white;
    font-size: 16px;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    height: 35px;
    width: 75px;
    cursor: pointer;
}

.banner-img {
    background: url(https://res.cloudinary.com/dmpgjexg4/image/upload/v1643726818/Screenshot_2022-02-01_at_16.42.53_ja3vt2.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 420px;
    position: relative;
    background-attachment: fixed;
    background-position: center;

}

.banner-cont {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
}

 @media (max-width: 768px) {
    .banner-cont {
   font-size: 24px;
 }
}
.centeredButton {
    height: 45px;
    width: 145px;
    background-color: rgb(80, 140, 55);
    color: white;
    border:rgb(80, 140, 55);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.col-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: white;
  margin-top: 20px;
  font-size: 28px;
    
}

.col-container > div {
    width: 360px;
    padding: 15px;
}

.column {
    position: relative;
}

.column img {
    height: 220px;
    border-radius: 4px;
    filter: brightness(65%);
    cursor: pointer;
}

.column img:hover {
    filter: brightness(90%);
  }

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon {
  width: 230px;
  height: 80px;
  position: relative;
}

.icon i {
  color: rgb(80, 140,55);
  font-size: 44px;
  position: absolute;
  left: 0;
  top: 25%;
}

.numbers h1 {
    font-size: 38px;
    font-weight: 300;
    margin: 0;
    position: relative;
    left: 80px;
    top: 5px;
}



.numbers p {
    font-size: 18px;
    margin: 0;
    position: absolute;
    left: 81px;
    bottom: 5px;
}



.news {
    height: auto;
    min-height: 300px;
    background-color: rgb(236,238,239);
    padding: 10px 10px;
    color: rgba(55, 58, 60);
}

.news h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
    flex-wrap: wrap;
}

.news-card {
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    width: 360px;
    height: 170px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
}

.References {
    padding: 10px 10px;
    margin: 15px;
    color: rgba(55, 58, 60);
}

.References h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

.flex-cards {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

.card {
     height: 375px;
     width: 265px;
     border: solid 1px;
     border-color: rgb(201, 201, 201);
     border-radius: 4px;
     margin: 15px;
     position: relative;
     text-align: center; 
    
}

.card img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.card hr {
    margin-block-start: 185px;
    color: rgb(201, 201,201);
}

.card h2 {
    font-size: 18px;
    color: rgba(55, 58, 60);
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card p {
    width: 230px;
    font-size: 14px;
    color: rgba(55, 58, 60);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subscribe {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

.subscribe input {
    width: 350px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(148, 148, 148);
    border: 1px solid rgb(140, 140, 140);
    border-radius: 3px;
    padding: 5px;
}

.subscribe button {
    background-color: rgb(80, 140, 55);
    color: white;
    border:rgb(80, 140, 55);
    border-radius: 5px;
    height: 50px;
    width: 125px;
    font-size: 18px;
    font-weight: 100;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.footer {
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100%;
    margin-top: 20px;
    color: white;
    padding: 10px;
}

.footer-components {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-container {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-navigation{
    text-align: center;
}

.footer-navigation a{
    margin: 10px;
    cursor: pointer;
}

.footer-contacts {
    display: flex;
    align-items: center;
    gap: 45px;
}

.footer-contacts button {
    background-color: rgb(80, 140, 55);
    color: white;
    border:rgb(80, 140, 55);
    border-radius: 5px;
    height: 40px;
    width: 110px;
    cursor: pointer;
}

.foot-icons i {
    background-color: rgb(80, 140, 55);
    color: white;
    text-align: center;
    width: 35px;
    height: 35px;
    padding: 10px 5px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
